html {
    height: 100%;
}

body {
    background-color: rgb(228, 228, 228);
    margin: 0px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    width: 70%;
    margin: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: rgb(181, 230, 29);
    width: 70%;
    margin: auto;
    padding-top: 5px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/* -- Основной контент на странице -- */
.div-in-main-row {
    display: flex;
    flex-direction: row;
}

.div-categories-menu {
    display: flex;
    flex-direction: column;
}

.div-products {
    display: flex;
    flex-direction: row;
}
/* -- Основной контент на странице -- */

/* -- Авторизация\регистрация -- */
.div-authorization, .div-registration {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border: 2px solid black;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 1%;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 30px;
}

.div-authorization p, .div-registration p {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div-authorization a, .div-registration a {
    font-size: 17px;
    margin-top: 10px;
}

.form-authorization, .form-registration {
    display: flex;
    flex-direction: column;
}

.input-text {
    font-size: 20px;
    margin-bottom: 5px;
}

.input-submit {
    font-size: 20px;
    margin-top: 5%;
    cursor: pointer;
}

#auth-error-message {
    display: none;
    color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
/* -- Авторизация\регистрация -- */

/* -- Главное меню -- */
.div-menu {
    background-color: rgb(181, 230, 29);
    position: sticky;
    top: 0px;
    border-bottom: 2px solid black;
}

.ul-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.li-menu-link {
    margin-left: 2%;
    margin-bottom: 7px;
}

.li-menu-link:nth-child(4) {
    margin-left: auto;
    margin-right: 1%;
}

.li-menu-link:last-child {
    margin-right: 1%;
}

.ul-menu a {
    text-decoration: none;
}

.logo-image {
    width: 100%;
}
/* -- Главное меню -- */

/* -- Раскрывающийся список для главного меню -- */

/* -- Раскрывающийся список для главного меню -- */

/* -- Нижняя часть -- */
.footer-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 5%;
    width: 35%;
}

.footer-menus {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 65%;
}

.footer-content a {
    margin-left: auto;
}

.footer-content img {
    width: 100%;
}

.footer-ul-links a {
    text-decoration: none;
}

.footer-text {
    margin-top: 0px;
    text-align: justify;
}

.footer-menus ul {
    list-style-type: none;
}

.footer-ul-contacts li:nth-child(1)::before {
    content: "\260E ";
    margin-right: 5px;
}

.footer-ul-contacts li:nth-child(n+2)::before {
    content: "\2709 ";
    margin-right: 5px;
}
/* -- Нижняя часть -- */

/* -- Для страницы 404 -- */
.div-message-error-404 {
    margin-top: 7%;
    text-align: center;
}

.second-div-message-error-404 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}
/* -- Для страницы 404 -- */

/* -- Админ панель -- */
.admin-main-div {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    width: 60%;
    border: 2px solid black;
}

.admin-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(181, 230, 29);
    width: 100%;
    height: 5%;
    border-bottom: 1px solid grey;
}

.admin-info p {
    font-size: 35px;
    margin: 10px;
}

.admin-info a {
    margin-left: auto;
    text-decoration: none;
    margin-right: 10px;
}

.admin-menu-action-section {
    display: flex;
    flex-direction: row;
}

.admin-menu {
    display: flex;
    flex-direction: column;
    border-right: 1px solid grey;
    padding: 10px;
}

.action-section {
    width: 80%;
}

.admin-menu a {
    text-decoration: none;
    margin-bottom: 5px;
    padding: 1px;
}

.action-section {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.div-for-form-elements {
    display: flex;
    flex-direction: row;
}

.action-section input {
    font-size: 20px;
    margin-bottom: 7px;
}

.action-section select, option {
    font-size: 20px;
}

.form-inputs-text-div {
    display: flex;
    flex-direction: column;
}

.form-select-submit-elements {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
}

.new-product-form-select {
    height: 25px;
}

select[name='category'] {
    margin-top: 5px;
}

.form-select-images {
    display: flex;
    flex-direction: column;
}

#input-images {
    font-size: 15px;
    margin-top: auto;
    margin-bottom: 8px;
}

.new-product-form-submit {
    height: 30px;
    margin-left: 1%;
}

#new-supplier-message {
    color: red;
    display: none;
}

.categories-main-div {
    display: flex;
    flex-direction: row;
}

.categories-main-div p {
    margin-top: 5px;
}

.categories-new-category-div {
    width: 50%;
}

.categories-del-category-div {
    width: 50%;
    margin-left: 3%;
}
/* -- Админ панель -- */